extends layout

block content
  h1= title
  img(src='/images/banner.png')
  p= t('app.intro')
  h2 Sensors
  ul
    each sensor in sensors
      li
        a(href='/sensor/#{sensor.id}') #{sensor.name}
