doctype html
html
  head
    title= i18n.t('app.site') + ' - ' + title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css')
  body
    #header
      a(href='/')= t('app.site')
      #language
        a(href='/lang/en') English
        a(href='/lang/vi') Tiếng Việt
    #content-wrapper
      block content
    #footer
      br
      p
        center A footer that sits on every page ....
