extends layout

block content
  h1= title
  #graph-live(style="height: 400px;", data-title="Past Hour (minute averages)")
  #graph-week(style="height: 400px;", data-title="Past Week (daily averages)")

  script(src='https://code.jquery.com/jquery-2.1.2.min.js')
  script(src='https://code.highcharts.com/highcharts.js')
  script(src='https://code.highcharts.com/modules/exporting.js')
  script(src='/javascripts/graph.js')

  script.
    $(function () {
      loadGraphLive();
      loadGraphWeek();
    });