body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div[id|='graph'] {
    margin-bottom: 50px;
}

#map {
    height: 500px;
    width: 80%;
    margin: 50px 10%;
}