body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#content-wrapper {
    margin: 0 5%;
}

#language {
    float: right;
}

#language a {
    margin-left: 10px;
}

div[id|='graph'] {
    margin-bottom: 50px;
}

#map {
    height: 500px;
    margin: 50px 0;
}

#footer {
    margin: 30px 0;
}